.header{
    justify-content: center;
    display: flex;
}
header{
    background-image: url(img1.jfif);
    background-size: 100%;
}
body{
    margin: 0px;
}
.hall{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.div1{
    width: 7%;
    padding: 2px;
}
.himg{
    width: 100%;
    float: left;
    display: flex;
}
.div2{
    width: 75% ;
}
.hul li{
    float: left;
    display: flex;
    padding: 10px;
    color: white;
}
.div3{
    display: flex;
    justify-content: center;
}
.div3-1{
    width: 60%;
}
.div3-2{
    width: 57% !important;
    margin-top: 80px;
    margin-bottom: 244px;
}
.div3 h1{
    font-size: 3em;
}
.fs-2em{
    font-size: 2em;
}
.btn1{
    border: 0px;
    padding: 15px 20px;
    background-color: #f5f259;
}
.btn2{
    border: 0px;
    padding: 15px 20px;
    background-color: #8a2468;
    color: white;
}
.div4{
    display: flex;
    justify-content: center;
}
.div4-1{
    width: 60%;
    text-align: center;
}
.div4-2{
    padding: 40px;
    display: flex;
}
.div4-2-1{
    width: 70%;
    margin-right:50px;
    font-size: 1.9em;
    color: rgb(58, 54, 54);
}
.div4-2-2{
    width: 30%;
}
.div4-2 img{
    padding-top: 30px;
    width: 100%;
}
.div4-3{
    width: 100%;
    display: flex;
    border-bottom: 1px black solid;
}
.div4-3-1{
    margin: 30px;
    width: 33%;
}
.div4-3-1 img{
    width: 60%;
}
.sec1{
    display: flex;
}
.sec1img{
    width: 100%;
    height: 445px;
}
.sec1div1{
    background-color:#f5f259;
}
.sec1img img{
    width: 100%;
}
.sec1paragraf{
    margin: 15px;
}
.sec1div2{
    background-color: rgb(233, 233, 233);
}
.btn3{
    color: black;
    background-color: rgb(161, 159, 159);
    border: 0px;
    padding: 15px 20px;
}
.secmap{
    background-color: #f5f259;
    display: flex;
}
.secmap1{
    width: 50%;
}
.w-100{
    width: 100%;
    height: 100%;
}
.sec1map2{
    width: 50%;
    margin: 20px 50px;
}
.sec1map2 input{
    border: 0px;
    width: 300px;
    height: 30px;
}
.sec1map2 textarea{
    border: 0px;
    width: 300px;
}
.btntam{
    width: 300px;
}
.footerdiv{
    width: 33%;
}
.p{
    padding: 40px;
}
.secimage img{
    width: 100%;
}
.textaling-center{
    text-align: center;
}
.color{
    color: rgb(158, 158, 158);
}
.jc-center{
    justify-content: center;
}
.w-60{
    width: 60%;
}
.d-flex{
    display: flex;
}
.login{
    background-image: url(img4.jpg);
}
.login input{
    border: 0px;
    width: 300px;
    height: 43px;
}
.jc-end{
    justify-content: end;
}
.w{
    width: 74%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pb{
    padding-bottom: 50px;
}